#parent {
  max-width: 100%;
  margin: auto;
  height: auto;
  cursor: pointer;
  /* border: 1px solid red; */
}

#child {
  width: 100%;
  margin: auto;
  /* border: 1px solid blue; */
}

#child > img,
#child > video {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: block;
}
