#parent {
  max-width: 90%;
  margin: auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}
#child {
  width: 24.5%;
  height: auto;
  padding: 4px;
}
#child:hover {
  border: 1px solid grey;
  border-radius: 10px;
}
#child img {
  border-radius: 10px;
  height: 100%;
}
